@charset "UTF-8";

body { 
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}


select, input[type=text], input[type=password], input[type="button"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1; 
	outline: none;
	height:40px;
	
}

select {
	padding:10px 15px 10px 15px;
	vertical-align:bottom;
}

legend {
	
	text-align: center;
	font-size: 40px;
	font-weight: bold
}

#id, #post1 {
	width: 70%
}

#jumin1, #jumin2 {
	width: 49%
}

#id+input, #post1+input {
	width: 15%;
	background: #e91e63;
	line-height:10px;
    vertical-align:bottom;
    border-radius: 4px;
    color:white;
}

textarea {
	width: 100%;resize:none;

}

#email, #domain {
	width: 33%
}

#sel {
	width: 30%;
	background: lightgray
}

.container2 {
	border: 1px solid gray;
	padding: 1.5% 1%
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

input[type=button]:hover {
	opacity: 0.8;
	cursor: pointer
}

.signupbtn {
		background-color: blue;	color: white;	padding: 14px 20px;
	margin: 8px 0;	border: none;	border-radius: 15px;	cursor: pointer; 
	opacity: 0.6; 
}

.cancelbtn {
		background-color: red;	color: white;	padding: 14px 20px;
	margin: 8px 0;	border: none;	border-radius: 15px;	cursor: pointer; 
	opacity: 0.6;  
}

button:hover {
	opacity: 1;
}



.container {
	padding: 16px;
}

body {
	 background-color: #19303c;
}

#myform {
	border-radius : 50px;
	background-color: #ffbf00;
	margin: 5% auto 15% auto;
	width: 850px;
}

#output { width: 30%;}
#che { width: 30%;}

#code { width: 15%;
	background: #e91e63;
	line-height:10px;
    vertical-align:bottom;
    border-radius: 4px;
    color:white;}


#ckcode { width: 15%;
	background: #e91e63;
	line-height:10px;
    vertical-align:bottom;
    border-radius: 4px;
    color:white;}

